<div style="display: flex;">
<div class="single-user-box"></div>
    <div class="single-user-content main-border">
        <h1><%= u.name %></h1>
        <p class="text-align-end">Number of posts: <%= u.posts_counter %><p>
    </div>
</div>