<%= button_to 'Sign out', destroy_user_session_path, method: :delete , class: 'btn btn-danger mb-3'%>
<%= render 'user', user: @user%>
<div class="user-bio padding-3-pixels main-border">
    <div style="margin-bottom: 10px">Bio</div>
    <%= @user.bio %>
</div>
<%= render @posts, user_id: params[:id]%>

<div class="center-button">
    <button>See all posts</button>
</div>