<%= render 'single_user', u: @user%>
<div class="user-bio padding-3-pixels main-border">
    <div style="margin-bottom: 10px">Bio</div>
    <%= @user.bio %>
</div>
<% @posts.each do |p| %>
    <% if p.id < 4 %> 
        <%= render '/posts/single_post', p:p %>
    <% end %>
<% end %>
<div class="center-button">
    <button>See all posts</button>
</div>