<div style="border: 3px solid black; margin: 10px 0; padding: 3px">
    <div> Post #<%= p.id%></div>
    <div><%= p.text%></div>
    <div>
        <p>Comments: <%= p.comments_counter%>, Likes: <%= p.likes_counter%></p>
    </div>
</div>