<div style="border: 3px solid black; margin: 10px 0; padding: 3px">
    <div><%= p.title%></div>
    <div><%= p.text[0..500]%></div>
    <div style="display: flex; justify-content: right">
        <p>Comments: <%= p.comments_counter%>, Likes: <%= p.likes_counter%></p>
    </div>
</div>