<div class="single-post-box main-border padding-3-pixels ">
    <div><%= p.title%></div>
    <div><%= p.text[0..200]%></div>
    <p class="text-align-end">Comments: <%= p.comments_counter%>, Likes: <%= p.likes_counter%></p>
</div>