<h1>New Post</h1>
<%= form_with model: @post, url: user_posts_path do |form| %>
  <%= form.text_field :title, placeholder: 'Title', class: 'form-control mb-3' %>
  <%= form.text_area :text,placeholder: 'Text', class: 'form-control mb-3' %>
  <%= form.submit "Submit", class: 'btn btn-primary' %>
<% end %>